@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
body{
    background-color: #ccc;

  }
  .container{
   margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .date{
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #606c38;
 }
.header{
   display: flex;
   /* border: 2px solid #000; */
}
.header input{
    width: 455px;
    height: 45px;
    background-color: #457b9d;
    border: none;
    padding: 12px;
    /* color: #000; */
}
.header input:focus{
    outline: none;
    border: 2px solid  #19a68c;
  
}
.header ::placeholder{
    color: #ccc;
   
}
.header button{
    width: 45px;
    height: 45px;
    background-color: #00b4d8;
    font-size: 25px;
    border: 0px;
    cursor: pointer;
}
.container .title{
    font-family: 'Fredoka One', cursive;
    background-color: #606c38;
    width: 500px;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
    /* border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000; */
}
.name{
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
    color: #fff;
    background-color: #003566;
    width: 500px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .tasks{
    background-color: #003566;
    width: 500px;
    min-height: 120px;
    /* border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000; */
}
.taskBot{
    background: #90e0ef;
    height: 60px;
    padding: 5px 10px;
    border-radius: 0px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
   border-bottom: 1px solid #000;
}
.task{
    background: #003566;
    height: 60px;
    padding: 5px 10px;
    border-radius: 0px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
   border-bottom: 1px solid #ccc;
}

.task span{
    font-size: 15px;
    cursor: pointer;
}
.taskBot button{
    font-size: 17px;
    border: none;
    background-color:#90e0ef;
    cursor: pointer;
}
.task button{
    font-size: 17px;
    border: none;
    background-color: #003566;
    cursor: pointer;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
    
}
.finished{
    background-color: #90e0ef ;
    width: 500px;
    min-height: 120px;
    margin-bottom: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}